@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }

    .collaborative {
        flex-direction: column;
    }

    .price-blocks {
        flex-wrap: wrap;
    }

    .price-block {
        margin: 20px 0;
    }

    .what-blocks {
        flex-wrap: wrap;
    }

    .what-block {
        margin: 20px 0;
    }

    .product-block {
        flex-wrap: wrap;
    }

    .product-block-four {
        margin: 20px 0;
    }
}

@media (max-width: 992px) {
    .management {
        flex-direction: column-reverse;
    }

    .customer {
        flex-direction: column;
    }

    .customer-text {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .footer-general {
        flex-wrap: wrap;
    }

    .join-block {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }

    .header-nav a {
        display: none;
    }

}

@media (max-width: 576px) {
    .hero img {
        width: 90%;
    }

    .product-block {
        justify-content: center;
    }

    .management img {
        width: 90%;
    }

    .customer img {
        width: 90%;
    }

    .collaborative img {
        width: 90%;
    }

    .price-blocks {
        justify-content: center;
    }

    .what-blocks {
        justify-content: center;
    }

    .join-block-text h1 {
        width: 90%;
    }

    .join-btn {
        display: flex;
        justify-content: center;
    }

    .footer-input {
        padding: 20px 0;
    }
}

@media (max-width: 451px) {
    .hero-text {
        width: 90%;
    }

    .hero-text h1 {
        width: 90%;
        text-align: center;
    }

    .hero-text p {
        width: 90%;
        text-align: center;
    }

    .product-block {
        height: 850px;
    }

    .collaborative-text p {
        width: 90%;
    }

    .collaborative-text {
        width: 90%;
        text-align: center;
    }

    .footer-general {
        flex-direction: column;
        align-items: center;
        height: 800px;
    }

    .header-btn-one {
        display: none;
    }

    .header-btn-two {
        display: none;
    }
}

@media (max-width: 400px) {
    .join-block img{
        width: 90%;
    }
    .block-one{
        width: 90%;
        flex-direction: column;
    }
    .block-two{
        width: 90%;
        flex-direction: column-reverse;
    }
    .management-text {
        width: 90%;
        text-align: center;
    }

    .management-text p{
        width: 90%;
    }
    .hero-btn {
        flex-direction: column ;
    }
    .hero-btn a{
        margin: 20px 0;
    }
    }

@media (max-width: 376px) {

}

@media (max-width: 320px) {
    .footer-input input{
        width: 90%;
    }
}